#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
  overflow-x: hidden;
}
